<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <li>全选 <input type="checkbox" v-model="checkAll"></li>
            <li v-for="item in product"><input type="checkbox" v-model="item.isCheck"><span>{{item.name}}</span></li>
            
        </ul>
    </div>
</body>
</html>
<script src="./node_modules/vue/dist/vue.js"></script>
<script>

let vm= new Vue({
    el:"#app",
    data:{
       
        product:[
            {isCheck:false,name:'苹果'},
            {isCheck:false,name:'香蕉'},
            {isCheck:false,name:'西瓜'}]
    },
    computed:{
        checkAll:{
            get(){
                return this.product.every(item=>item.isCheck);
            },
            set(val){
                this.product.forEach(item =>item.isCheck=val);
            }
        }
    },
    methods:{
        
    }

});

</script>










