<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">

        <div v-if="isok">我很帅</div>
        <div v-else>我很low</div>
        <button @click="cut=!cut">切换</button>
        <template v-if="cut">
            <label for="userName">注册<input type="text" id="userName1" key="1"></label>
        </template>
        <template v-else>
                <label for="userName">登录<input type="text" id="userName2" key="2"></label>
        </template>
    </div>
    
</body>
</html>
<script src="./node_modules/vue/dist/vue.js"></script>
<script>


let vm =new Vue({
    el:'#app',
    data:{
           isok:false,
           cut:true
    }
   
});
</script>