<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

        <div id="app">
           <p><input type="checkbox" v-model="checkStatus">{{checkStatus?'选中':'未选中'}}</p> 
            <p>爱好：<input type="checkbox" v-model="love" value="游泳">游泳
                    <input type="checkbox" v-model="love" value="跑步">跑步
                    <input type="checkbox" v-model="love" value="睡觉">睡觉
                {{love}}
                </p>
        </div>


</body>
</html>
<script src="./node_modules/vue/dist/vue.js"></script>
<script type="text/javascript">

    let vm=new Vue({
        el:"#app",
        data:{
            checkStatus:true,
            love:[]
        }
    });

</script>